@import 'src/styles';

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 100px;
  padding-top: 60px;
  @media (max-width: $screen-sm) {
    position: fixed;
    height: 80px;
    padding-top: 35px;
  }
  &__logo {
    .logo {
      @media (max-width: $screen-sm) {
        width: 23px;
      }
    }
  }
  &__nav {
    @include flex-center;
    &__toggle {
      position: fixed;
      top: 40px;
      right: 30px;
    }
    &__menu {
      @include flex-center;
      font-family: $barlow-cond;
      font-size: $font-size-sm;
      font-weight: bold;
      letter-spacing: 1px;
      list-style: none;
      text-transform: uppercase;
      @media (max-width: $screen-sm) {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 100px;
        right: 0;
        left: 0;
        width: 85vw;
        padding: 12px 24px;
        margin: auto;
        font-size: $font-size-base;
        background: $white;
        box-shadow: 1px 5px 10px #afafaf;
        transform: scaleY(0);
        transform-origin: top;
        @include transition;
        &.show {
          transform: scaleY(1);
        }
      }
      li {
        margin: 0 10px;
        padding: 10px;
        @media (max-width: $screen-sm) {
          display: block;
          width: 100%;
          text-align: center;
        }
        a {
          color: $dark-blue;
        }
        &.disabled {
          user-select: none;
          opacity: .4;
          @media (max-width: $screen-sm) {
            display: none;
          }
        }
        &:last-child {
          opacity: .6;
          @media (max-width: $screen-sm) {
            padding-top: 20px;
            margin-top: 10px;
            border-top: 1px solid #d0d1d8;
          }
        }
      }
    }
    .nav-close {
      display: none;
      position: relative;
      top: 5px;
      right: 2px;
    }
    &.show {
      // Toggle open
      .nav-open {
        display: none;
      }
      .nav-close {
        display: block;
      }
    }
  }
}
