<header class="header slide-down">
  <div class="container d-flex justify-content-between">
    <div class="header__logo">
      <a routerLink="/"><img src="assets/img/logo.svg" class="logo"></a>
    </div>
    <div class="header__nav"
         [ngClass]="{ 'show': navbarOpen }">
      <div class="header__nav__toggle d-block d-md-none"
           (click)="toggleNavbar()">
          <img src="assets/img/icon-hamburger.svg" class="nav-open" />
          <img src="assets/img/icon-close.svg" class="nav-close" />
      </div>
      <div class="header__nav__menu"
           [ngClass]="{ 'show': navbarOpen }">
        <li><a routerLink="/">Product</a></li>
        <li><a routerLink="/">Features</a></li>
        <li><a routerLink="/">Pricing</a></li>
        <li class="disabled">&bull;</li>
        <li><a routerLink="/">Login</a></li>
      </div>
    </div>
  </div>
</header>
