@import 'src/styles';

/*
 * Home
 */

.home__component {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  margin-top: 330px;
  @media (max-width: $screen-lg) {
    margin-top: 265px;
  }
  @media (max-width: $screen-sm) {
    margin-top: 125px;
  }
  .content {
    h1 {
      height: 152px;
      @media(max-width: $screen-lg) {
        height: 198px;
      }
      @media(max-width: $screen-sm) {
        height: 88px;
      }
    }
    &__title {
      @include flex-center;
      justify-content: flex-start;
      height: 26px;
      margin-bottom: 15px;
      font-family: $barlow-cond;
      font-size: $font-size-sm;
      text-transform: uppercase;
      letter-spacing: 3px;
      line-height: 1.2;
      color: $grey;
      span {
        position: relative;
        overflow: hidden;
        padding: 5px 10px;
        margin-right: 12px;
        font-family: $barlow-cond;
        font-size: 15px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 1px;
        text-align: center;
        color: $white;
        background: $dark-blue;
        border-radius: 25px;
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          width: 100%;
          height: 100%;
          background: $white;
          opacity: .2;
          animation: scroll 2s ease-in-out;
          animation-iteration-count: infinite;
        }
      }
    }
    p {
      max-width: 280px;
    }
  }
  .illustration {
    overflow: hidden;
    @media (max-width: $screen-sm) {
      padding-bottom: 85px;
      .devices {
        height: 244px;
        padding-left: 6px;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: -240px;
      right: 0;
      z-index: -1;
      width: 50vw;
      height: 420px;
      background: $light-grey;
      border-radius: 0 0 0 50px;
      @media (max-width: $screen-sm) {
        top: -125px;
      }
    }
  }
}
