<div class="home__component">
  <div class="container">
    <div class="row flex-column-reverse">
      <div class="col-12 col-md-6">
        <div class="content">
          <div class="content__title fade-in">
            <span>New</span> Monograph Dashboard
          </div>
          <h1>{{type_display }}</h1>
          <p class="fade-up">Project planning and time tracking for agile teams</p>
          <div class="d-flex mt-4 mt-md-5">
            <button class="btn btn__primary fade-in" (click)="myFunc()">Schedule a demo</button>
            <button class="btn btn__link fade-in" (click)="myFunc()">To see a preview</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 fluid-right">
        <div class="illustration fade-in">
          <img src="assets/img/illustration-devices.svg" class="devices fade-left" />
        </div>
      </div>
    </div>
  </div>
</div>
