/*
 * Global
 */

.fade-in {
  animation: fade-in .5s ease-in-out;
}

.fade-up {
  animation: fade-up .5s ease-in-out;
}

.fade-left {
  animation: fade-left .5s ease-in-out;
}

.slide-wrapper {
  overflow: hidden;
}

.slide-up {
  animation: slide-up .5s ease-in-out;
}

.slide-down {
  animation: slide-down .5s ease-in-out;
}

.scroll {
  animation: scroll .5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes scroll {
  from {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
