/*
 * Global
 */

body {
  font-family: $barlow;
  font-size: $font-size-base;
}

a {
  &:hover {
    @include transition;
  }
}

h1 {
  margin-bottom: 30px;
  font-family: $barlow-cond;
  font-size: $font-size-xl;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.1;
  text-transform: uppercase;
  @media (max-width: $screen-sm) {
    font-size: 40px;
  }
}

p {
  font-size: $font-size-base;
  color: $dark-grey;
}

// Override default bootstrap margins to match mobile design
.container {
 @media (max-width: $screen-sm) {
   padding-left: 30px;
   padding-right: 30px;
   .row {
     margin-left: -30px;
     margin-right: -30px;
     > div {
       padding-left: 30px;
       padding-right: 30px;
     }
   }
 }
}

.btn {
  @include flex-center;
  width: 100%;
  max-width: 186px;
  height: 48px;
  font-family: $barlow-cond;
  font-size: $font-size-sm;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border: 0;
  border-radius: 4px;
  @media (max-width: $screen-sm) {
    max-width: 154px;
    height: 42px;
    font-size: $font-size-xxs;
  }
  &__primary {
    color: $white;
    background: $red;
  }
  &__link {
    padding: 0 10px;
    color: $grey;
    letter-spacing: 3px;
    font-weight: normal;
    @media (max-width: $screen-sm) {
      padding: 0 6px;
      letter-spacing: 2px;
    }
  }
  &:focus {
    outline: 0;
  }
  &:hover {
    @include transition;
    opacity: .6;
    cursor: pointer;
  }
}
