/*
 * Helpers
 */

.fluid-right {
  position: absolute !important;
  left: 50% !important;
  right: 0 !important;
  padding-right: 0 !important;
  @media (max-width: $screen-sm) {
    position: initial !important;
    padding: initial !important;
  }
}
