/*
 * Mixins
 */

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-inline-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin transition {
  transition: all .2s ease-in-out;
}
