/*
 * Variables
 */

// Screens
$screen-xxl: 2000px;
$screen-xl: 1440px;
$screen-lg: 1199px;
$screen-md: 991px;
$screen-sm: 767px;
$screen-xs: 479px;

// Fonts
$barlow-cond: 'Barlow Condensed', sans-serif;
$barlow: 'Barlow', sans-serif;

// Font sizes
$font-size-xxs: 14px;
$font-size-xs: 15px;
$font-size-sm: 16px;
$font-size-base: 18px;
$font-size-lg: 24px;
$font-size-xl: 60px;

// Colors
$white: hsl(0, 100%, 100%);
$red: hsl(0, 100%, 68%);
$dark-blue: hsl(230, 29%, 20%);
$dark-grey: hsl(230, 11%, 40%);
$grey: hsl(231, 7%, 65%);
$light-grey: hsl(207, 33%, 95%);

// Columns
$col-1: 8.33333%;
$col-2: 16.66666%;
$col-3: 25%;
$col-4: 33.33333%;
$col-5: 41.66666%;
$col-6: 50%;
$col-7: 58.33333%;
$col-8: 66.66666%;
$col-9: 75%;
$col-10: 83.33333%;
$col-11: 91.66666%;
$col-12: 100%;
